<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wellness</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="" />

</head>
<body>
  <div id="myDiv" class="card-body">
  <form method="post" action="/name">
    <label for="firstname">First name :</label>
    <input type="text" class="form-control" name="firstname"/> <br />
    <label for="lastname">Last name :</label>
    <input type="text" name="lastname" class="form-control" value="" /> <br />
    <label for="lastname">Message:</label>
    <textarea name="message" class="form-control" rows="10" cols="30">The cat was playing in the garden.
    </textarea><br/>
      <br />
    <input type="submit" value="Submit" />
    <!-- Form ends when submit is clicked and variables are then passed to the server -->
  </form>
</div>

</body>